[defaults]
roles_path = roles
vault_password_file = .vault_password
host_key_checking = False
timeout = 60
stdout_callback = default
forks = 5

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
