[
    {
        "name": "frontend",
        "address": "localhost:{{ frontend_provider_port }}",
        "initConfig": [
            {
                "location": "{{ app_path }}"
            }
        ]
    },
    {
        "name": "builtin",
        "initConfig": [
            {
                "location": "{{ app_path }}"
            }
        ]
    }
]
